// VARIABLES GLOBALES
$verde: rgb(27, 111, 37); // var valor unico
$color-primario: rgb(125, 17, 233);
$color-secundario: orange;

$ancho: 960px;

$h1Desktop: 3rem;
$parrafoDesktop: 1.25rem;
$h1Mobile: 2rem;
$parrafoMobile: 1rem;


$tituloUno: normal 24px "Montserrat", sans-serif; //var multivalor

